<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>873665672928-pbndnft06eubrnejlogatv76a3svqs2k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.873665672928-pbndnft06eubrnejlogatv76a3svqs2k</string>
	<key>API_KEY</key>
	<string>AIzaSyD8YgF3hKipoisQ8-JmNwY-7OO8ehUElTY</string>
	<key>GCM_SENDER_ID</key>
	<string>873665672928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ro.handsoneducation.kiosk</string>
	<key>PROJECT_ID</key>
	<string>kiosk-916cb</string>
	<key>STORAGE_BUCKET</key>
	<string>kiosk-916cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873665672928:ios:47d5aef64b145bc8</string>
	<key>DATABASE_URL</key>
	<string>https://kiosk-916cb.firebaseio.com</string>
</dict>
</plist>